<div class="container">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. BTC"
      #input
    />
  </mat-form-field>

  <table mat-table [dataSource]="coinsData" matSort>
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
      <td mat-cell *matCellDef="let row">{{ row.symbol }}</td>
    </ng-container>

    <ng-container matColumnDef="current_price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let row">
        {{ row.current_price | currency: "USD":"symbol":"1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price_change_percentage_24h">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>24H</th>
      <td mat-cell *matCellDef="let row">
        {{ row.price_change_percentage_24h / 100 | percent: "1.2-2" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      (click)="goToDetails(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
